*{
    margin: 0;
    padding: 0;
}
#main{
    position:relative
}
#main .box{
    float: left;
    padding:15px 0 0 15px;
}
#main .box .pic{
    padding: 15px;
    box-shadow:0 0 2px #999;
}
.pic img {
    width: 200px;
}